html {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #464646;
}

.has-bg-img {
  background-image: url('assets/hammock.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo__container {
  max-height: 50px;
}

.home h1, .home div{
  color: #f5f5f5;
}

.resume object {
  height: 100vh;
}
